.label{
   display: flex;
   margin: auto;    
}

.input{
    text-align: center;
}

.ion{
  display: flex;
  align-items: left;
}


    
    
   

.btn{
    --color:white;
    --background: rgb(0, 140, 255);
    --background-activated: blue;
    --background-hover: rgba(121, 62, 62, 0.658);
}



h1{
    font-size: 35px;
    z-index: 100000000;
    
    
}

.myLink{
    text-decoration: none;
}